
    :root{
    --fuentePrimaria: 'Roboto Slab', serif;
    --fuenteSecundaria: 'Russo One', sans-serif;
 
     --BeigeClaro: #F0D9B5;
     --verdeOcuro: #006400;
     --blanco: #ffffff;
     --negro: #000000;
 }
 

html{
    box-sizing: border-box;  	/*El border y padding no afecte el ancho de nuestros elementos*/
    font-size: 62.5%;		/*Esto permite que un 1rem sea igual a 10px */
      
}

*, *:before, *:after {
    box-sizing: inherit;	/*El border y padding no afecte el ancho de nuestros elementos*/
}



body{
    min-height: 100vh;
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  



H1{
    font-size: 3rem;
}

h1, h2{
    margin: 0;
    padding: 1rem;
    font-family: var(--fuentePrimaria);
    color: var(--negro);
}


h3{
    
}

p{
}

.header__contenedor{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    border-bottom: 2px solid black; 
}    

.header__contenedor-1{
    padding: 1.5rem;
    text-align: left;
    flex-basis: calc(60%);
}

.header__contenedor-2{
    flex-basis: calc(20%);
    background-image: url(/img/peon.png);
}

/* main */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 768px) { 
    .contenedor{
        display: grid;
        grid-template-columns: 3fr 2fr ;
        justify-items: center;
        justify-content: center;
        align-items: center;
        gap: 2rem;
       
    }       
 }
 
.selection{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

/* footer */



.footer{
    display: flex;
    background-color: var(--blanco);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 2px solid black; 
}

.footer__contenedor-1{
    text-align: left;
    flex-basis: calc(60%);    
}

.footer__contenedor-2{
    flex-basis: calc(20%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.LinKedIn{
    height: 7rem;
    width: 7rem;
    padding: 1rem;
}
/* Ayudas */


.icons{
    height: 6rem;
    width: 6rem;
    padding: 1rem;
}

.background_images{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sus{
    background-color: #006400;
    height: 100%;
    width: 100%;
}