:root{
   --fontHeading: 'PT Sans', sans-serif;
   --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --blanco: #ffffff;
    --negro: #000000;
    --naranja: #EA9F10;
    --gris: #e1e1e1;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/

h1{
    font-size: 5rem;
}

h2{
    color: var(--blanco);
}
h3{
    font-size: 3.3rem;
    font-weight: 700;
    font-family: var(--fontHeading);
    margin: 0;
}

h4{
    color: var(--blanco);
    padding: 1rem 0;
    margin: 0;
}

h5{
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--fontHeading);
    margin: 0;
}

h6{
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--fontHeading);
    margin: 1rem 0;
}

img{
    width: 100%;
}

p{
    font-family: var(--fuenteParrafos);
    margin: 0;
}

.boton{
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 0;
    text-decoration: none;
    
}

@media (min-width: 950px) {
   .boton{  
    margin-right: 75%;
   }
}

.boton:hover{
    background-color: var(--primario);
}


.head{
    background-image: url(..//img/banner.jpg);
    height: 60rem;
    background-size: cover; /*hace que cubra todo el espacio disponible */
    background-position: center center; /* hace que la imgan de fondo crezca y decrezca desde el centro el primer parametro es horizontal
                                            y el otro vertical tambien existe left/right botton/top porcentajes rem*/
    background-repeat: no-repeat;
   
}
.head__titulos{
    width: min(90%, 120rem);
    height: 50%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 760px) {
    .head__titulos{
        height: 20%;
    
        flex-direction: row;
        justify-content: space-between;
    }
}

.head__logo{
    color: #ffffff;
    font-family: var(--fontHeading);
    font-weight: 400;
    margin: 0;
}


span{
    font-weight: 700;
}


.contenedor{
    max-width: 120rem;
    width: 90%;   
}

.head__nav{
    display: flex;
    flex-direction: column;
}

@media (min-width: 758px) {
    .head__nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 4rem;
        column-gap: 1rem;
    }
}

.a_nav{
    font-size: large;

    color: var(--blanco);
    font-family: var(--fuenteParrafos);
    text-decoration: none;
    margin: 0 auto;
    height: min-content;
}

.a_nav:hover{
    color: var(--naranja);
}

.head__titulosCentro{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

@media (min-width: 760px) {
    .head__titulosCentro{
        margin: 12rem auto;
        max-width: 70rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
       
    }
}

.head__centro{
    text-align: center;
    font-size: 3.7rem;
    line-height: 1;
    margin: 0;
}

.head__centroAbajo{
    text-align: center;
    font-weight: 100;
    font-size: 1.7rem;
    margin: 0 0;
    line-height: 1;
}



.footer{
    width: 100%;
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--negro);

    bottom: 0;
    margin-top: 2rem;
}

@media (min-width: 760px) {
.footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    
}
}

.footer__nav{
    padding: 0;

}



.mainIndex{
    width: min(120rem, 90%);
    margin: 0 auto;  
    
}

.mainIndex__grid{
   
}

@media (min-width: 767px) {
    .mainIndex__grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}

.mainIndex__colummna1{
    width: 100%;
    
}

.mainIndex__secciones{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.colummna2__contenedor{
    background-color: var();
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gris);
}

.colummna2__head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--naranja);
    border-radius: 3%;
}

.colummna2__cuadroTexto{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    background-color: var(--primario);
    padding: 1.4rem;
    border-radius: 2%;
    margin-bottom: 2rem;
}

.nosotro__display{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 760px) {
    .nosotro__display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        text-align: justify;
    }
}

.cursos__contenerdo {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .cursos__contenerdo {
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: 2rem;
    }
    
}

.contacto__backgroundImg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacto__formulario{
border: 2rem solid var(--primario);
background-color: var(--blanco);
margin: -5rem auto 0 auto;
width: 95%;
padding: 5rem;
}

.caja{
    display: flex;
    margin-bottom: 2rem;
}

.contacto__text{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.input{
    margin: 0 4rem;
    width: 100%;
}

.input--texarea{
    height: 15rem;
}



.boton__submit{
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    text-decoration: none;
    width: 10rem;
    height: 5rem;
}
.boton__submit{
    cursor: pointer;
}

@media (min-width: 768px) {
   
}