:root{
   /*Colores*/
    --primario: #9c27b0;
    --primario_oscuro: #891190;
    --secundario: #ffce00;
    --secundario_oscuro: #826c10;
    --blanco: #fff;
    --negro: #000;  

    /*funete*/
    --fuenteprincipal: 'Staatliches', cursive;
}

/*Hacer esto en todos los proyectos*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*Hacer esto en todos los proyectos*/


/*Globales*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;                       /*Interlineado*/
    font-family: var(--fuenteprincipal);
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    font-weight: 300;
    text-align: justify;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuenteprincipal);
    text-transform: uppercase;
}

h1{
    font-size: 4rem;
    font-weight: 300;
}

h2{
    font-size: 3.2rem;
    font-weight: 500;
}

h3{
    font-size: 2.4rem;
    font-weight: 300;
}

/*Elementos*/

/*header*/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/*navegacion*/
.navegacion{
    background-color: var(--primario_oscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem; /*genera un espacio entre los elementos del flexbox*/
}
.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/*footer*/

.footer{
    background-color: var(--primario_oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2.2rem;
}

/*grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
   .grid{
        grid-template-columns: repeat(3, 1fr);
   }
}

/*productos*/

.producto{
    background-color: var(--primario_oscuro);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre, 
.producto__precio{
    font-family: var(--fuenteprincipal);
    margin: 1rem auto;
    text-align: center;
    line-height: 1;
}

/*graficos*/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat; /*hace que la imagen no se repita*/
    background-size: cover; /*hace que la imgaen cubra todo el ancho posible*/
    grid-column: 1/3;
}

.grafico--camisas{
    grid-row: 2/3 ;
    background-image: url(../img/grafico1.jpg);      
}

.grafico--node{
    background-image:  url(../img/grafico2.jpg);
    grid-row: 8/9;   
}
@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5/6 ;
        grid-column: 2/4;
       
    }
}

/*PAGINA NOSOTROS*/

.nosotros{
    display: grid;
    row-gap: 2rem;      /*Genera un gap entre rows*/
    margin: 0 2rem;
    -webkit-box-shadow: 0px 0px 39px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 10px rgba(0,0,0,0.75);
    padding: 4rem;
}   

@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem; /*Genera un gap en todos los sentidos dentro de cada celda del grid*/
        align-items: center;
    }
}

.nosotros__img{
    border-radius: 2.5%;
    width: 100%;
    
}

@media (min-width: 768px) {
    .nosotros__img{
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}


.bloques{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);


}



@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);

    }
}

.bloque{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .bloque{
        flex-direction: column;
    }
}

.bloque__text{
    display: flex;
    align-items: center;
    font-family: var(--fuenteprincipal);
    padding: 0 2rem;
    margin: 0;
}

.products{
    display: grid;  
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {  
    .products{  
        grid-template-columns: repeat(2, 1fr);
    }
}


.products__camisa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.products__img{
    border-radius: 9%;
}

.prudcts__relleno{
    display: flex;
    flex-direction: column;
}

.prudcts__relleno--grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
   .products__relleno--grid{

    padding: 0rem;
   }
}

.prudcts__relleno-text{
    padding: 2rem;
}

.formulario__tamaño, .formulario__cantidad{
    border-color: var(--primario_oscuro); /*color del borde*/
    border-width: 1rem;                   /*grosor del borde*/
    border-style: solid;                    /*estilo de borde*/

    
    /*hacen lo mismo*/
    border: 1rem  solid var(--primario_oscuro);

    font-size: 2rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.transparente{
    background-color: transparent;
}

.formulario__submit{
    grid-column: 1/3;
    justify-content: center;
    background-color: var(--secundario);
    color: var(--negro);
    font-size: 2rem;
    transition: background-color 3s ease;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundario_oscuro);
}